{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% block content %}

<div class="py-4"></div>
<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class=" col-lg-9   mb-5 mb-lg-0">
        <article>
          <h1 class="h2"> {{ newspaper.title }}</h1>
            {% if user.is_authenticated %}
            <a href="{% url 'agency:newspaper-delete' pk=newspaper.id %}"
               class="btn btn-primary link-to-page" style="background-color: red; border-color: red">
                Delete
            </a>
            <a href="{% url 'agency:newspaper-update' pk=newspaper.id %}"
               class="btn btn-primary link-to-page">
                Update
            </a>
            {% endif %}

        <div class="post-slider slider-sm">
            <img src="https://img.freepik.com/free-vector/online-article-concept-illustration_114360-5193.jpg" class="card-img-top" alt="post-thumb">
          </div>
          <ul class="card-meta my-3 list-inline">
            <li class="list-inline-item">
              <a href="author-single.html" class="card-meta-author">
                {% for publisher in newspaper.publishers.all %}
                <span> <a style="color: #777" href="{% url "agency:redactor-detail" pk=publisher.id %}"> {{ publisher.first_name }} {{ publisher.last_name }} |</a> </span>
                {% endfor %}
              </a>
            </li>
            <li class="list-inline-item">
              <i class="ti-timer"></i>2 Min To Read
            </li>
            <li class="list-inline-item">
              <i class="ti-calendar"></i> {{ newspaper.publish_date }}
            </li>
            <li class="list-inline-item">
              <ul class="card-meta-tag list-inline">
                <li class="list-inline-item"><a href="{% url "agency:topic-detail" pk=newspaper.topic.id %}">{{ newspaper.topic.name }}</a></li>
              </ul>
            </li>
          </ul>
          <div class="content">
            {{ newspaper.content }}
          </div>
        </article>

      </div>

      <div class="col-lg-9 col-md-12 mt-5">
      <span> <strong> {{ newspaper.comments.count }} comment{{ newspaper.comments.count|pluralize }}</strong> </span>
        {% if newspaper.comments.count %}
          {% for comment in newspaper.comments.all %}
            <ul class="list-group mt-2">
              <li class="list-group-item">
                <p style="font-weight: bold">{{ comment.user.first_name }} {{ comment.user.last_name }}</p>
                <p> {{ comment.content}}</p>
                <span class="text-muted"> {{ comment.created_time }}</span>
              </li>
            </ul>
          {% endfor %}
        {% else %}
          <p>No comments</p>
        {% endif %}
        <h3 class="mt-5">Add a comment</h3>
        <form action="" method="post" novalidate>
          <div class="form-group">
            {% csrf_token %}
            {{ form }}
          </div>
          <input type="submit" value="Comment" class="btn btn-primary">
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}
