{% extends "base.html" %}

{% block content %}
  <div class="py-4">
    <section class="section">
      <div class="container">
         <div class="row justify-content-center">
            <div class=" col-lg-9   mb-5 mb-lg-0">
                <h1>Delete Topic {{ topic.name }}?</h1>
                <form action="" method="post" class="mt-5">
                  {% csrf_token %}
                    <a href="{% url 'agency:topic-detail' pk=topic.id%}" type="submit" class="btn btn-primary"> Cancel </a>
                    <input type="submit" value="Confirm" class="btn btn-danger">
                </form>
            </div>
         </div>
      </div>
    </section>
  </div>
{% endblock %}
