{% extends "base.html" %}
{% block content %}
   <br>
  <section class="section-sm">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8  mb-5 mb-lg-0">
  <h2 class="h5 section-title">{{ topic.name}}</h2>
  {% for newspaper in topic.newspapers.all %}
  <article class="card mb-4">
  <div class="card-body">
      <h3 class="mb-3"><a class="post-title" href="{% url "agency:newspaper-detail" pk=newspaper.id %}">{{ newspaper.title }}</a></h3>
      <ul class="card-meta list-inline">
          <li class="list-inline-item">
                {% for publisher in newspaper.publishers.all %}
                  <span> <a href="{% url "agency:redactor-detail" pk=publisher.id %}" class="card-meta-author">{{ publisher.first_name }} |</a> </span>
                  {% endfor %}
          </li>
          <li class="list-inline-item">
              <i class="ti-timer"></i>3 Min To Read
          </li>
          <li class="list-inline-item">
              <i class="ti-calendar"></i>{{ newspaper.publish_date}}
          </li>
      <li class="list-inline-item">
          <ul class="card-meta-tag list-inline">
          <li class="list-inline-item"><a href="tags.html">{{ newspaper.topic }}</a></li>
          </ul>
      </li>
      </ul>
      <p></p>
      <a href="{% url "agency:newspaper-detail" pk=newspaper.id %}" class="btn btn-outline-primary">Read More</a>
  </div>
  </article>
  {% endfor %}
      </div>
    </div>
{% endblock %}
</div>
</section>
